@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --font-instrument-serif: "Instrument Serif", serif;
    --color-primary: #7b5dfe;
    --color-secondary: #ff6f29;

    /* Your marquee definitions */
    --animate-marquee: marquee 20s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
